html
  head
    title Despair Template | Ra Tea Studio
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    block style
  body
    include ../_partials/navbarMain

    block content

    include ../_partials/footer