extends _layouts/layout
block content
  include ./_partials/jumbotronSecondary
  +jumbotronSecond('#About Us','Get to know ARA Studio further')

  .container.mt-5
    .row.align-items-center
      .col-12
        h2 #[strong #ARA Srtudio]
        p 
          | ARA Studio is a company that can help grow your business's information technology sector. We work reliably with the best service, to provide solutions and effective results that meet the needs of our clients.
      .col-12.col-md-6
        h2 #[strong #Vision]
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sequi eum consequuntur hic sint ea ad suscipit placeat in perferendis, iste neque aperiam possimus corrupti recusandae autem excepturi, saepe pariatur quisquam doloribus! Vero nesciunt culpa, quae tempora fugit voluptatem facere!
      .col-12.col-md-6
        h2 #[strong #Mission]
        p
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit maiores quam minima eos totam maxime, molestiae corrupti et excepturi autem.