extends _layouts/layout
block content
  .container.mt-3.post
    .row.justify-content-center
      .col-12.col-lg-9
        img.featured(src="media/dark.jpg", alt="alt")
        h1.title Lorem ipsum dolor sit amet consectetur adipisicing elit
        span 20 December 2019
        hr
        .content
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, aspernatur eos eaque voluptate explicabo, nam maxime voluptatibus amet consectetur numquam, sunt ad praesentium delectus id veritatis aliquam quisquam minus asperiores!
        .card
          .card-body
            .card-text
              a.btn.btn-sm.btn-primary(href="#!") Share