@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

$theme-colors: (
  "primary": #eb0000,
  "dark": #111111
);

$enable-rounded: false;

@import "~bootstrap/scss/bootstrap";

input,
textarea,
select {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');