.footer.text-light.mt-5
  .container
    .row
      .col-12.col-lg-4
        h4.mt-3 #Links
        ul.beauty
          li
            a(href='#!') Lorem ipsum
          li
            a(href='#!') Lorem ipsum
          li
            a(href='#!') Lorem ipsum
          li
            a(href='#!') Lorem ipsum
      .col-12.col-lg-4
        h4.mt-3 #Links
        ul.beauty
          li
            a(href='#!') Lorem ipsum
          li
            a(href='#!') Lorem ipsum
          li
            a(href='#!') Lorem ipsum
          li
            a(href='#!') Lorem ipsum
      .col-12.text-center.pt-4.pb-lg-0.pb-4
        span Created by #[a(href="#!") Adeardo Dora Harnanda]
        br
        span Copyright &copy; 2019 #[a(href="#!") Ra Tea Studio] All Rights Reserved.