- let attr = {}
- attr.style = {'background-image' : 'linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)),url(\'bg.jpg\')'}
  
.jumbotron.jumbotron-fluid&attributes(attr)
  .container
    .row
      .col-lg-5.headline
        .container
          h3.title Crime Under Table
          p
            | You always think that evil arises from anger, but you never think that not all smiles bring happiness.
          a.btn.btn-outline-primary(href='#!') Break The Rule
  .jumbotron-add-icon
    a(href="#!") #[i.fa.fa-facebook]
    a(href="#!") #[i.fa.fa-twitter]
    a(href="#!") #[i.fa.fa-instagram]

.container-fluid.floating-headline
  .row.justify-content-end
    .col-lg-3.mt-5.d-none.d-lg-flex.justify-content-center
      a.mx-2(href="#!") #[i.fa.fa-circle]
      a.mx-2.text-light(href="#!") #[i.fa.fa-circle]
      a.mx-2.text-light(href="#!") #[i.fa.fa-circle]

    .col-lg-9
      .row
        .col-lg-4.bg-primary.text-light.item
          h3.title Don't play with hope
          p or that hope will play with you
        .col-lg-4.bg-dark.text-light.item
          h3.title Wherever there is hope, there is most definitely #[strong.text-primary despair]
        .col-lg-4.bg-dark.text-light.item
          p
            | It shows great #[strong.text-primary courage] to try understand
            | something you don't understand